{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy {{ $.Param "text_color" | default "mid-gray" }}">
      {{- .Content -}}
    </section>
    <section class="mt5">
      <div class="flex">
      <div class="fl w-25">
        {{ partial "industries.html" . }}
        {{ partial "products.html" . }}
      </div>
      <div class="flex w-75">
      {{ range .Paginator.Pages }}
        <div class="relative w-30 bg-white mb4 ml3 mr3">
          {{ .Render "summary-with-image" }}
        </div>
      {{ end }}
      {{- template "_internal/pagination.html" . -}}
      </div>
      </div>
    </section>
  </article>
{{ end }}
