{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
<div class="pf-c-card" style="text-align: left">
  <div class="pf-c-card__title">
    <h1>
      <a href="{{.RelPermalink}}">
        {{ .Title }}
      </a>
    </h1>
  </div>
  <div class="pf-c-card__body">
    {{ if $.Param "icon" }}
    {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
    <a href="{{.RelPermalink}}">
      <img src="/{{ .File.Dir }}/{{ $.Param "icon" }}" class="img" alt="image from {{ .Title }}" style="width: 100px; float: right; padding: 5px;">
    </a>
    {{ end }}
    {{ .Summary }}
  </div>
  <div class="pf-c-card__footer">
    {{ $validated := .Param "validated" }}
    {{ if (eq $validated true ) }}
        {{ partial "validated-pattern.html" . }}
    {{ else }}
        {{ partial "community-pattern.html" . }}
    {{ end }}
  </div>
</div>
