{{ define "main" }}
<main id="ws-page-main" class="pf-c-page__main">

  <div id="ws-page-content-router">
    <section class="pf-c-page__main-section pf-m-light pf-m-dark-100 pf-u-background-color-primary-color-200 pf-c-background-image" style="background-image: url('/background.svg'); background-position: center;  background-size: cover;">
      <div class="pf-l-grid">
        <div class="pf-l-grid__item pf-m-12-col-on-sm pf-m-8-col-on-md pf-m-offset-2-col-on-md pf-m-6-col-on-lg pf-m-offset-3-col-on-lg pf-u-py-2xl pf-u-text-align-center">
          <div class="pf-c-content">
            {{ .Content }}
            <a href="/learn" class="pf-c-button pf-m-primary" style="--pf-c-button--m-primary--BackgroundColor: var(--pf-global--palette--blue-300); --pf-c-button--m-primary--Color: var(--pf-global--palette--white);	--pf-c-button--BorderRadius: 20px; --pf-c-button--after--BorderRadius: 20px; ">Learn more</a>
          </div>
        </div>
      </div>
    </section>
    <section class="pf-c-page__main-section">
      <div class="pf-l-grid">
        <div class="pf-l-grid__item pf-m-12-col-on-sm pf-m-8-col-on-md pf-m-offset-2-col-on-md pf-m-8-col-on-lg pf-m-offset-2-col-on-lg pf-u-py-2xl pf-u-text-align-center">
          <div class="pf-c-content" >
            <h1 class="">Latest Patterns</h1>
            <div class="pf-l-gallery pf-m-gutter" style="--pf-l-gallery--GridTemplateColumns--min: 300px;">
              {{ $section := where $.Site.Pages "Section" "patterns" }}
              {{ $section := where $section "RelPermalink" "ne" "/patterns/" }}
              {{ $section := where $section "IsPage" false }}
              {{ range (first 3 $section) }}
                <div class="pf-l-gallery__item" style="display: grid;">
                  {{ .Render "summary-with-image" }}
                </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
{{ end }}
